<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="Str" value="Data Source=172.16.2.43;Initial Catalog=FMS4.0;Persist Security Info=True;User ID=sa;password=emri415$;"/>-->
    <!--<add key="Str" value="Data Source=172.16.2.43;Initial Catalog=FMS4.0;Persist Security Info=True;User ID=sa;password=emri415$;"/>-->
    <add key="Str" value="Data Source=192.168.70.19;Initial Catalog=FMSEMRI;Persist Security Info=True;User ID=sa;password=rjemri123$;" />
    <add key="StrCTIAPPS" value="Data Source=192.168.70.19;Initial Catalog=CTI_APPS;Persist Security Info=True;User ID=sa;password=rjemri123$;" />
    <add key="MySqlConn" value="server=192.168.70.23;userid=emri;password=emri;database=emri;Convert Zero Datetime=True"></add>
    <!--<add key="AVLT" value="Data Source=192.168.1.71;User ID=sa;password=emri123$;"/>-->
    <!--<add key="AVLT" value="Data Source=192.168.1.248;User ID=gamyam;password=gamyam123$;"/>-->
    <add key="LogLocation" value="D:\Logs\ErrorLog_FMS.txt" />
    <add key="Locateveh" value="50" />
    <add key="roleID" value="93" />
    <add key="AdminroleID" value="90" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <globalization uiCulture="en" culture="en-US" />
    <compilation targetFramework="4.0" debug="true"/>
    <httpRuntime maxRequestLength="1500000" executionTimeout="90" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IACLService" />
        <binding name="BasicHttpBinding_IACLService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost/ACLGlobalisation/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IACLService"
        contract="ServiceReference1.IACLService" name="BasicHttpBinding_IACLService" />-->
      <!--<endpoint address="http://172.16.2.43/ACLGlobalization/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IACLService1" contract="ServiceReference2.IACLService"
        name="BasicHttpBinding_IACLService1" />-->
      <endpoint address="http://192.168.70.43/ACLGlobalisation/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IACLService1" contract="ServiceReference2.IACLService" name="BasicHttpBinding_IACLService1" />
    </client>
  </system.serviceModel>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
<!--ProjectGuid: {b8e8347d-b23d-4e07-91b1-441c0491cd35}-->